.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  position: absolute;
  background: #fff;
  border-radius: 30px;
  height: auto;
  padding: 50px;
  animation: appear 0.2s ease-in-out;
  text-align: center;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  cursor: pointer;
  padding: 4px;
  line-height: 0;
  border: none;
  border-radius: 50%;
}

.closeIcon {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #262626;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
  margin-bottom: 24px;
}

.buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 24px;
}

.btn {
  border: 1px solid #888;
  border-radius: 6px;
  background-color: #f2f2f2;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  padding: 8px 16px;
  font-weight: 500;
  height: 36px;
  width: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
}

.btnPrimary:hover {
  background-color: #d9363e;
}

.btnSecondary {
  background-color: #f2f2f2;
  color: #000;
}

.btnSecondary:hover {
  background-color: #ddd;
}
