.header {
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 1440px;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px #0003;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.activeLink {
  color: #007bff;
  font-weight: 700;
}
